
header {
    padding-left:85%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
  
#a {
    display: block;
    padding:8px;
    color:grey;
}

#logo {
    margin-left:20%;
    margin-right:20%;
    display: block;
    padding-left:22%;
    padding-right:20%;
}


#input {
    padding-left:40%;
}

#text-field {
    width:32%;
}

#buttons {
    padding-top:1%;
    padding-left:43.5%;
}

#language {
    padding-left:46%;
    font-size: 12px;
    margin-bottom:10%;
}

#footer {
    padding:50px;
    background-color: lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}






